@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-flow: row;
}

/**    *****************************     **/
/**      Sidebar component styling      **/
/**    *****************************     **/

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  width: 30vw;
  border-right: 1px solid rgb(210, 210, 210);
  overflow-y: scroll;
}

/* Header Styling */

.sidebar-header {
  border-bottom: 1px solid rgb(210, 210, 210);
  height: 90px;
  display: flex;
  justify-content: space-around;
}

.sidebar-title {
  user-select: none;
  display: inline-flex;
}

.sidebar-add-note {
  user-select: none;
  margin-right: 10px;
  padding: 0 10px;
  display: inline-flex;
  cursor: pointer;
  color: rgb(0, 150, 236);
  line-height: 60px;
}

.sidebar-add-note:hover {
  transition: 500ms cubic-bezier(1, 0, 0, 1);
  color: rgba(0, 150, 236, 0.7);
}

p {
  text-align: center;
  margin: 0;
}

/*Note List Styling*/
.hide {
  animation-name: hide;
  animation-play-state: running;
}

.note {
  cursor: pointer;
  transition: .25s cubic-bezier(.25, .1, .25, 1);
  margin: 0;
  padding: 5px 0;
}

.active {
  background-color: rgba(128, 128, 128, 0.2)
}

.note:hover {
  background-color: rgba(128, 128, 128, 0.2)
}

.note-main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  margin: 10px 0;
}

.note-title {
  float: left;
  margin: 0 15px;
  display: inline-flex;
}

.note-delete {
  user-select: none;
  cursor: pointer;
  margin: 0 15px;
  color: red;
  display: inline-flex;
}

.note-delete p {
  width: 100%;
  text-align: right;
}

.last-edited {
  word-spacing: 5px;
  display: block;
  text-align: center;
}

/**    ******************************    **/
/**        Main component styling        **/
/**    ******************************    **/

.main {
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Add/Edit Note Form Styling */

.note-form {
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#note {
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif !important;
  margin: 15px auto;
  padding: 6px 2px;
  width: 80%;
  height: 40vh;
  font-size: 18px;
}

#note:focus {
  border: 2px solid rgb(30, 128, 255);
}

.note-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title-input-container {
  width: 100%;
  top: 5px;
  display: flex;
  justify-content: center;
}

.title-input {
  width: 80%;
  margin: 10px auto;
  padding: 6px 1px;
}

/*Markdown Preview Styling*/

.markdown-preview {
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 10vh 40vh;
  height: 50vh;
  background-color: rgba(128, 128, 128, 0.15)
}